@media print {
  body {
    visibility: hidden;
    width: 100%;
    height: 100%;
  }
  .printable {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    print-color-adjust: exact;
    width: 1200px;
  }

  .page {
    visibility: visible;
    width: 100%;
    height: 900px;
  }
}
